@import "mocha.css";

/* fonts */
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", sans-serif;
    font-size: 13px;
}

/* waybar window */
window#waybar {
    background-color: @base;
	color: @base;
    border-bottom: 2px solid #313244;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* backlight */
#backlight {
	background-color: #cba6f7;
}

#window {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* common style */
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#idle_inhibitor,
#tray,
#wireplumber,
#network {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

/* workspaces */
#workspaces button {
    padding: 0 5px; 
    border-radius: 5em / 5em;
    background-color: @surface0;
    color: @peach;
    margin: 2px;
    font-weight: bold;
}

#window,
#workspaces {
    margin: 0 4px;
    background-color: transparent;
    font-weight:bold;
    border-radius: 5em / 5em;
    padding: 0 10px;
    color: @peach;
}

/* battery */
#battery {
	background-color: #f9e2af;
}

#battery.charging {
}

#battery.plugged {
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: #f38ba8;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* workspaces */
#workspaces {
	border-radius: 1rem;
	background-color: @base;
	margin-top: 1rem;
	margin: 7px 3px 0px 7px;
  }
  
  #workspaces button {
	color: @mauve;
	border-radius: 1rem;
	padding-left: 6px;
	margin: 5px 0;
	box-shadow: inset 0 -3px transparent;
	transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
	background-color: transparent;
  }
  
  #workspaces button.active {
	color: @pink;
	border-radius: 1rem;
  }
  
  #workspaces button:hover {
	color: @flamingo;
	border-radius: 1rem;
  }

/* clock */
#clock {
	background-color: #a6e3a1;
}

/* CPU */
#cpu {
	background-color: #89dceb;
}

/* RAM */
#memory {
	background-color: #eba0ac;
}

/* disk */
#disk {
	background-color: #b4befe;
}

/** ***** Idle Inhibitor ***** **/
#idle_inhibitor {
	background-color: #ABE9B3;
}
#idle_inhibitor.deactivated {
	background-color: #F28FAD;
}

/** ********** Tray ********** **/
#tray {
	background-color: #3C3C44;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/* pulseaudio */
#wireplumber {
	background-color: #fab387;
}

#wireplumber.bluetooth {
	background-color: #f5c2e7;
}
#wireplumber.muted {
	background-color: #313244;
	color: #cdd6f4;
}

/* network */
#network {
	background-color: #89b4fa;
}

#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/* custom/menu custom/power */
#custom-menu, #custom-power {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	background-color: #f5c2e7;
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	background-color: #f38ba8;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 16px;
}