@import "colors.css";

/* fonts */
* {
  font-family: "JetBrains Mono", "Iosevka Nerd Font";
  font-size: 13px;
  color: @text;
  min-height: 0;
}

/* bar */
window#waybar {
  background-color: @base;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* hyprland workspaces */
#workspaces {
  background-color: @surface0;
  margin: 6px 0px;
  border-radius: 1rem;
}

#workspaces button {
  color: @pink;
  border-radius: 1rem;
  padding-left: 6px;
  margin: 5px 0;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  background-color: transparent;
}

#workspaces button.active {
  color: @flamingo;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @rosewater;
  border-radius: 1rem;
}

/* icons */
#custom-menu,
#custom-power,
#tray,
#window,
#workspaces,
#wireplumber,
#backlight,
#network,
#battery,
#clock {
  background-color: @surface0;
  margin: 6px 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 1rem;
}

#cpu,
#memory {
  background-color: @surface0;
}

/* clock */
#clock {
  color: @lavender;
}

/* battery */
#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

@keyframes blink {
  to {
      color: @rosewater;
  }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Brightness */
#backlight {
  color: @yellow;
}

/* Sound */
#wireplumber {
  color: @pink;
}

#wireplumber.bluetooth {
	background-color: @mauve;
}

#wireplumber.muted {
    color: @maroon;
}

/* network */
#network {
  color: @flamingo;
}

#network.disconnected,
#network.disabled {
  color: @rosewater;
}

/* power menu */
#custom-power {
  color: @red;
}

/* tray icons */
#tray {
  /* border-radius: 1rem; */
}

/* tooltips */
tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}